h1 {
  text-align: center;
}

button {
  background-color: #c06c84;
}

button:first-of-type {
  background-color: #6c5b7b;
}

.container {
  margin-top: 20px;
  color: #355c7d;
}

.form-div {
  width: 400px;
  margin: 0 auto 20px auto;
}

.output {
  display: none;
  border: 3px solid lightpink;
  border-radius: 15px;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
}

.buttons {
  display: none;
  text-align: center;
  margin: 20px auto 0 auto;
  width: 400px;
}

#death {
  display: none;
}
